.article {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
    padding: 2rem;
    border: solid var(--foreground) 2px;
    margin: 2rem;
    border-radius: 1rem;
}

.img {
    border-radius: 1rem;
    width: 35rem;
}

.title {
    width: 35rem;
}

@media (max-width: 770px) {
    .img {
        border-radius: 1rem;
        width: 100%;
    }
    
    .title {
        width: 100%;
    }
     
  }